.footer {
  margin: 92px auto 24px;
  width: calc(100% - (48px*2));
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .footer{
    margin: 88px auto 24px;
    width: calc(100% - (24px*2));
  }
}
@media screen and (max-width: 767px) {
  .footer {
    margin: 32px 0 24px 16px;
    width: calc(100% - 16px);
    flex-direction: column;
  }
}