.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
    .place__website {
        margin: 7px auto 0px;
        min-width: 288px;
      }
}